@page "/Logged"
@using Domain;
@using Interface.BusinessLogic;
@using Interface.DataAccess;
@inject NavigationManager NavigationManager
@inject SessionManager sessionManager;

<h3>Loged</h3>


<a href="/figure" class="btn btn-primary">Empezar a Crear</a>
<button @onclick="SignOut">Cerrar sesión</button>



@code {

	private void SignOut()
	{


		sessionManager.ClearCurrentUser();

		NavigationManager.NavigateTo("/", true);

	}

}
