@page "/Logged"
@using Domain;
@using BusinessLogic;
@inject NavigationManager NavigationManager
@inject Manager manager;

<h3>Loged</h3>


<button @onclick="SignOut">Cerrar sesión</button>



@code {

	private void SignOut()
	{
		manager.logged = null;
		NavigationManager.NavigateTo("/");

	}

}
