@page "/"

@using Domain;
@using BusinessLogic;

@inject NavigationManager NavigationManager
@inject Manager manager

<h3>Iniciar sesión</h3>

<div>
    <label for="nombre">Nombre de usuario:</label>
    <input type="text" id="nombre" @bind="nombre" />
</div>

<div>
    <label for="contrasena">Contraseña:</label>
    <input type="password" id="contrasena" @bind="contrasena" />
</div>

<button @onclick="IniciarSesion">Iniciar sesión</button>
@if (!string.IsNullOrEmpty(mensajeError))
{
    <div class="alert alert-danger">@mensajeError</div>
}


<a href="/SignUp">Sign up</a>

@code {
    string nombre;
    string contrasena;
    string mensajeError;




    Client toLogIn = new Client();
    Client pablin = new Client("Pablo", "123");
    Client nachin = new Client("Ignacio", "nashe1");

    void IniciarSesion1()
    {
        manager.logged = pablin;
        NavigationManager.NavigateTo("/figure", true);
    }

    void IniciarSesion2()
    {
        manager.logged = nachin;
        NavigationManager.NavigateTo("/figure", true);
        
    }

    void IniciarSesion()
    {
        
        if(toLogIn.VerifyName(nombre) && toLogIn.VerifyPassword(contrasena))
        {
            toLogIn = manager.logIn(nombre, contrasena);
        }

        if (toLogIn != null)
        {
            // El usuario está registrado, redirigir a la página principal
            NavigationManager.NavigateTo("/Logged", true);
        }
        else
        {
        
            mensajeError = "Incorrect username or password";
           
        }


    }
}