@page "/"

@using Domain;
@using BusinessLogic;
@using Exceptions;
@inject NavigationManager NavigationManager
@inject Manager manager

<h3>Iniciar sesión</h3>

<div>
    <label for="nombre">Nombre de usuario:</label>
    <input type="text" placeholder="Nombre de Usuario" id="nombre" @bind="name" />


    <label for="contrasena">Contraseña:</label>
    <input type="password" placeholder="Contraseña" id="contrasena" @bind="password" />
</div>

<button class="btn btn-primary"  @onclick="IniciarSesion">Iniciar sesión</button>
@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">@errorMessage</div>
}



@if ( emptyActorError)
{
    <div class="  alert alert-danger" role="alert">
        @exceptionMessage
    </div>
}




<!-- Aquí puedes escribir tu comentario 
<button @onclick="IniciarSesion1">Test 1</button>

<button @onclick="IniciarSesion2">Test 2</button>
-->
<div>
<a href="/SignUp">Sign up</a>
</div>
@code {
    string name;
    string password;
    string errorMessage;

    private string exceptionMessage = "";
    private bool emptyActorError = false;


    Client toLogIn = new Client();
    //Client pablin = new Client("Pablo", "123");
    // Client nachin = new Client("Ignacio", "nashe1");
    /*
    void IniciarSesion1()
    {
    manager.logged = pablin;
    NavigationManager.NavigateTo("/figure", true);
    }

    void IniciarSesion2()
    {
    manager.logged = nachin;
    NavigationManager.NavigateTo("/figure", true);

    }
    */
    void IniciarSesion()
    {
        try
        {


            manager.ValPass(password);
            manager.ValPass(name);

            if (toLogIn.VerifyName(name) && toLogIn.VerifyPassword(password))
            {
                toLogIn = manager.logIn(name, password);
            }

            if (toLogIn != null)
            {

                NavigationManager.NavigateTo("/Logged", true);
            }
            else
            {

                errorMessage = "Incorrect username or password";

            }
        }
        catch(EmptyUserNameException ex)
          {
                emptyActorError = true;
                exceptionMessage = ex.Message;
        }
    }
}