@page "/material"
@using Domain;
@using BusinessLogic;
@using System.Globalization;
@inject NavigationManager NavigationManager
@inject Manager manager;

<h1>Crea tu material</h1>

<button @onclick="ToggleDropdown">Elegir material</button>

@if (showDropdown)
{
    <select @onchange="HandleSelection">
        <option value="">Selecciona el tipo de material</option>
        <option value="lambertiano">Lambertiano</option>
        <option value="concreto">Concreto</option>
        <option value="madera">Madera</option>
        <option value="acero">Acero</option>
    </select>
}

@code {
    bool showDropdown = false;
    string selectedMaterial = "";

    void ToggleDropdown()
    {
        showDropdown = !showDropdown;
    }

    void HandleSelection(ChangeEventArgs args)
    {
        selectedMaterial = args.Value.ToString();
        showDropdown = false;
        // Aquí puedes realizar alguna acción con el material seleccionado
    }
}