@page "/SignUp"
@using Domain;
@using BusinessLogic;

<h1>Formulario</h1>

<form>
    <label>Nombre:</label>
    <InputText @bind-Value="nombre" />

    <label>Contra:</label>
    <InputText type="contra" @bind-Value="contra" />

    <button type="submit" @onclick="Enviar">Enviar</button>
</form>

@code {
    private string nombre;
    private string contra;

    [CascadingParameter]
    public Helper? data { get; set; }

    Client newClient;

    private void Enviar()
    {

        if(newClient.VerifyName(nombre) && newClient.VerifyPassword(contra))
        {
            newClient = data.manager.logIn(nombre, contra);
            if(newClient == null)
            {
                newClient = new Client(nombre, contra);
            }

        }
        else
        {
            //mensaje de error
        }

    }
}














@code {

}
