@page "/SignUp"
@using Domain;
@using BusinessLogic;

@inject Manager manager;

<h1>Formulario</h1>

<form>
    <label>Nombre:</label>
    <InputText @bind-Value="nombre" />

    <label>Contraseña:</label>
    <InputText type="contra" @onkeypress="ValidatePassword" @bind-Value="contra" />
    @if (passwordError != "")
    {
        <div @ref="passwordMessage" class="alert alert-danger">@passwordError</div>
    }

    <label>Confirmar contraseña:</label>
    <InputText type="password" @onkeypress="EqualPasswords" @bind-Value="passwordConfirmation" />
    @if (!string.IsNullOrEmpty(differentPassword))
    {
        <div class="alert alert-danger">@differentPassword</div>
    }

    <button type="submit" @onclick="Enviar">Enviar</button>
</form>

@code {
    private ElementReference passwordMessage;
    private string nombre = "";
    private string contra = "";
    private string passwordConfirmation = "";
    private string nameError = "";
    private string passwordError = "";
    private string differentPassword = "";

    public bool MatchingPasswords(string password, string confirmation)
    {

        if (password.Length != confirmation.Length)
        {
            return false;
        }
        for (int i = 0; i < password.Length; i++)
        {
            if (password[i] != confirmation[i])
            {
                return false;
            }
        }
        return true;
    }


    Client newClient = new Client();

private void ValidatePassword(KeyboardEventArgs e)
    {
        if(!newClient.VerifyPassword(contra))
        {
            passwordError = "La contraseña debe ser ...";
            return;
        }
        passwordError = string.Empty;
    }

    private void EqualPasswords(KeyboardEventArgs e)
    {
        if (MatchingPasswords(contra, passwordConfirmation))
        {
            differentPassword= "Las contraseñas no coinciden";
            return;
        }
        differentPassword = string.Empty;

    }

    private void Enviar()
    {

        if(newClient.VerifyName(nombre) && newClient.VerifyPassword(contra))
        {
            if(!manager.Exists(nombre))
            {
                newClient = new Client(nombre, contra);
                manager.logIn(nombre, contra);
            }

        }
        else
        {
            if(!newClient.VerifyName(nombre))
            {
                nameError = "El nombre debe ser ...";
            }
        }

    }
}

